html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.kam-layerlist__layer-title {
    
  margin-left: 20px;
}

.kam-layerList__opacity{
  margin: 20px;
  margin-bottom: 0;
}


